html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  padding-top: 0px;
  background: #f2f2f2;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}

h1, .h1  {
	color: #fff;
	font-weight: 700;
	text-shadow: #111 0px 0px 10px;
}

h2, .h2 {
	color: #428bca;
	font-weight: 600;
}

* {
  cursor: default;
}

::selection {
	background: #ffb7b7; /* Safari */
}

::-moz-selection {
	background: #ffb7b7; /* Firefox */
}

.shim {
  opacity: 0.8;
}

.jumbotron{
	background: #212121;
	margin-bottom: 30px;
	padding: 50px 60px 10px 60px;
	border-radius: 6px;

}


[contenteditable] {
  -webkit-user-select : text !important;
  -moz-user-select : text !important;
  -ms-user-select : text !important;
  -o-user-select : text !important;
  user-select : text !important;
}

[contenteditable]:focus {
  cursor: text;
  outline: 1px dashed #2ebdff; /*rgba(124, 192, 213, 0.9);*/
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

body.design {
  overflow: hidden;
}

/* Default sizes to keep things sane */
body.design > .container {
  min-height: 300px;
}


body.design .btn-toolbar {
  background-color: #ccc;
  min-height: 20px;
}

body.design .row {
  min-height: 50px;
}

body.design .row > div, body.design .row-fluid > div {
  min-height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  /*border: 1px dotted #ccc;*/
  /*-moz-box-shadow: inset 0px 0px 4px 0px #a1a1a1;
  -webkit-box-shadow: inset 0px 0px 4px 0px #a1a1a1;
  -o-box-shadow: inset 0px 0px 4px 0px #a1a1a1;
  box-shadow: inset 0px 0px 4px 0px #a1a1a1;*/
}

body.design form {
  min-height: 60px;
  /*background-color: rgba(0,0,0,0.05);*/
}
body.design form:empty {
  line-height: 100px;
  border: 3px dashed #999;
  border-radius: 5px;
  /*
  display: table-cell;
  */
  vertical-align: middle;
  text-align: center;
  color: #999;
  font-size: 20px;
  background-color: rgba(0,0,0,0.05);
  width: 100%;
}
body.design form:empty:after {
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: 200px;
}
body.design .container:empty {
  line-height: 100px;
  border: 3px dashed #999;
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
  color: #999;
  font-size: 20px;
  background-color: rgba(0,0,0,0.05);
  width: 100%;
}

/*
body.design .row .col-lg-*:empty {
  vertical-align: middle;
  text-align: center;
  color: #ccc;
  font-size: 30px;
  min-height: 80px;
}
body.design .row .col-lg-1:empty:after { content: '1' }
body.design .row .col-lg-2:empty:after { content: '2' }
body.design .row .col-lg-3:empty:after { content: '3' }
body.design .row .col-lg-4:empty:after { content: '4' }
body.design .row .col-lg-5:empty:after { content: '5' }
body.design .row .col-lg-6:empty:after { content: '6' }
body.design .row .col-lg-7:empty:after { content: '7' }
body.design .row .col-lg-8:empty:after { content: '8' }
body.design .row .col-lg-9:empty:after { content: '9' }
body.design .row .col-lg-10:empty:after { content: '10' }
body.design .row .col-lg-11:empty:after { content: '11' }
body.design .row .col-lg-12:empty:after { content: '12' }
*/
