<a href="" class="topic">Main projects</a> <hr width="60%" />
<table class="tg">
<tr>
	<td class="tg-bold-right"></td>
	<td class="tg-bold"> 4MOST classification  </td>
</tr>	
<tr>
	<td></td>
	<td class="tg-desc"> 4MOST is a Galactic survey in ongoing development that aims at 
		observing millions of objects with spectroscopy. I am leading the classification
		unit within the consortium.
		</td>
</tr>
<tr>
	<td class="tg-bold-right"></td>
	<td class="tg-bold"> Gaia validation and Hybrid Catalogs </td>
</tr>
<tr>
	<td></td>
	<td class="tg-desc">As part of the Gaia
		collaboration (DPAC-CU9), the hybrid
		catalog aim to provide specific catalogs
		of Gaia sources combined with other
		wavelengths and information available. Such work is
		extremely important also for the internal validation
		of the astrophysical parameters derived by the consortium
		(DPAC-CU8).
		</td>
</tr>
<tr>
	<td class="tg-bold-right"></td>
	<td class="tg-bold"> Automated detection of star cluster in surveys </td>
</tr>
<tr>
	<td></td>
	<td class="tg-desc">Algorithm combining of photometric and velocity measurements
		with density profiles.  (Fouesneau et al, in prep)</td>
</tr>
<tr>
	<td class="tg-bold-right"></td>
	<td class="tg-bold"> Star cluster disruption from the photometric end-point </td>
</tr>
<tr>
	<td></td>
	<td class="tg-desc">
		Statistical modeling and measurement of cluster disruption effect on present day cluster populations.  
		(Fouesneau et al, in prep) <td>
</tr>
<tr>
	<td class="tg-bold-right"></td>
	<td class="tg-bold"> Inferring Dust Distribution on 20pc scale from resolved stellar populations in M31 </td>
</tr>
<tr>
	<td></td>
	<td class="tg-desc">
		Statistical modeling and measurement of
		dust distribution from CMD fitting of
		resolved stars in M31 through PHAT
		survey.  
		(Dalcanton et al, 2015) <td>
</tr>
<tr>
	<td class="tg-bold-right"></td>
	<td class="tg-bold"> Stellar object characterization from spectro-photometric measurements </td>
</tr>
<tr>
	<td></td>
	<td class="tg-desc">
		Calibrating spectra with photometry in order to derive more reliable stellar parameters 
		(Weisz et al, in prep)

</tr>
<tr>
	<td class="tg-bold-right"></td>
	<td class="tg-bold"> Bayesian extinction and stellar parameters fitting code (BEAST)
		(<a href="http://adsabs.harvard.edu/abs/2016ApJ...826..104G">Gordon et al, 2016</a>)
	</td>
</tr>
<tr>
	<td></td>
	<td class="tg-desc">
		Determination of stellar parameters and dust properties using individual stars 
		(Gordon et al, in prep)
</tr>
</table>
