<a href="" class="topic">Parcours</a> <hr width="60%" />
<table class="tg">
  <tr>
    <td class="tg-bold-right">Since 2014</td>
    <td class="tg-bold"> Postdoc | Gaia &amp; 4MOST unit manager at MPIA (Heidelberg, Germany)</td>
  </tr><tr>
    <td></td><td class="tg-desc">Leading validation of astrophysical parameter in the Gaia consortium (Coordination Unit 8)</td>
  </tr><tr>
    <td></td><td class="tg-desc"> Consulting on the Gaia classification and spectral analysis development -  DSC &amp; GSP-Phot </td>
  </tr><tr>
    <td></td><td class="tg-desc">leading the spectral classification unit and pipeline for the 4most observations</td>
  </tr><tr>
    <td></td><td class="tg-desc">Initiating and developing of the 4MOST classification pipeline - 4CP</td>
  </tr>

  <tr>
    <td class="tg-bold-right">2011 - 2014</td>
    <td class="tg-bold">Postdoc | Semi-resolved populations in galaxies at University of Washington (Seattle, WA)</td>
  </tr><tr>
    <td></td>
    <td class="tg-desc">The Panchromatic Hubble Andromeda Treasury (PHAT)</td>
  </tr><tr>
    <td></td>
    <td class="tg-desc">New inference methods of star and cluster formation histories</td>
  </tr><tr>
    <td></td>
    <td class="tg-desc">Probabilistic analysis of stellar populations: initial mass function &amp; extinction</td>
  </tr><tr>
    <td></td>
    <td class="tg-desc">Leading computing resources transitions to national cluster (XSEDE)</td> 
  </tr><tr>
    <td></td>
    <td class="tg-desc">Co-leading the development of the Bayesian Extinction and Stellar Tool (BEAST)</td> 
  </tr><tr>
    <td></td>
    <td class="tg-desc">Leading development the photometric tool PyPhot</td>
  </tr><tr>
    <td></td>
    <td class="tg-desc">Consulting on ``the Andromeda project'' Zooniverse platform</td>
  </tr><tr>
    <td class="tg-bold-right">2007 - 2011</td>
    <td class="tg-bold">Ph.D. in Astronomy at University of Strasbourg (Strasbourg, France)</td>
  </tr><tr>
    <td></td>
    <td class="tg-desc">”Study of stellar cluster populations in galaxies: a Bayesian approach” under the supervision of Ariane Lancon.</td>
  </tr><tr>
    <td class="tg-bold-right">2006 - 2007</td>
    <td class="tg-bold">Master degree at University of Strasbourg (Strasbourg, France)</td>
  </tr><tr>
    <td></td>
    <td class="tg-desc">Compact objects and high energy, inverse methods, galactic evolution, and ”big data”.</td>
  </tr><tr>
    <td></td>
    <td class="tg-desc">Master project with Matthew Ashby and Joseph Hora at CfA - Harvard on temporal analysis in the Spitzer’s "IRAC calibration field" (IRACCF)
</td>
  </tr><tr>
    <td class="tg-bold-right">2004 - 2007</td>
    <td class="tg-bold">Engineer degree (ENSPS/Superior and National School of Physics of Strasbourg)</td>
  </tr><tr>
    <td></td>
    <td class="tg-desc">Fundamental physics, signal processing, data processing and databases.</td>
  </tr>
</table>
