<a href="" class="topic">Other projects</a> <hr width="60%" />
<table class="tg">
<tr>
	<td class="tg-bold-right"></td>
	<td class="tg-bold"> Characterization of Nuclear Deformations with AGATA </td>
</tr>
<tr>
	<td></td>
	<td class="tg-desc">
	Statistical analysis of gamma detections and probabilistic modeling of uncertainties. 
	Collaboration with Damian Ralet (PhD student, GSI)</td>
</tr>
<tr>
	<td class="tg-bold-right"></td>
	<td class="tg-bold"> Cross-correlation of inhomogeneous catalogs </td>
</tr>
<tr>
	<td></td>
	<td class="tg-desc">
	Combining catalogs using positions and spectro-photometric measurements,
	Collaboration with Dr. François-Xavier Pinot (CDS, Observatoire de Strasbourg)
</tr>
<tr>
	<td class="tg-bold-right"></td>
	<td class="tg-bold"> Machine learning to detect artifacts in astronomical images </td>
</tr>
<tr>
	<td></td>
	<td class="tg-desc">
		Detecting effect of charge-transfer efficiency and cosmic rays in Hubble images
		Collaboration with Ms. Martina Unutzer and Prof. Magdalena Balazinska (University of
		Washington)
		<a href="http://homes.cs.washington.edu/~magda/papers/unutzer-ssdbm13.pdf">conference poster</a>
	</td>

	</td>
</tr>
<tr>
	<td class="tg-bold-right"></td>
	<td class="tg-bold"> Percolation in Carbon Nanotube Networks </td>
</tr>
<tr>
	<td></td>
	<td class="tg-desc">
		Statistical analysis of Carbon Nanotube Networks in the percolation context. 
		Collaboration with Yann Leroy (ICube).
		<a href="http://dx.doi.org/10.1088/0957-4484/22/34/345703">paper</a></td>
</tr>
<tr>
	<td class="tg-bold-right"></td>
	<td class="tg-bold"> Photometry and Temporal analysis in the IRAC-CF</td>
</tr>
<tr>
	<td></td>
	<td class="tg-desc">
		Master project at Harvard Smithonian Center for Astrophysics (Cambridge, MA) 
		Photometry and temporal analysis in the photometric campaign of the Spitzer’s IRAC dark calibration field (IRACCF).
		Collaboration with Matthew Ashby (CfA)
		and Joseph Hora (CfA).</td>

</tr>
<tr>
	<td class="tg-bold-right"></td>
	<td class="tg-bold"> Automation of synoptic maps construction of the solar activity </td>
</tr>
<tr>
	<td></td>
	<td class="tg-desc">
		Detecting and tracking solar features (spots, filaments, faculae) using multiwavelength imaging.
		Collaboration with Dr. Isabelle Scholl (ISU) and Dr. Jean Aboudarham, (LESIA/Paris Observatory)
		<a href="http://adsabs.harvard.edu/abs/2008AnGeo..26..243A">2008AnGeo..26..243A</a>
</tr>
</table>
