<a href="" class="topic">Talks</a> <hr width="60%" />

<table class="tg">
  <tr>
    <td class="tg-bold-right">2020</td>
    <td class="tg-desc">
	 MLSE, (virtual), December - "Gaia data processing with Machine Learning" <br>
	 MPIA seminar, Heidelberg, February - "Machine learning approaches to find metal poor stars" <br>
	 ISSI Pristine, Bern, February - "Finding metal-poor stars in Gaia Data Release 3" <br>
	 ISSI Pristine, Bern, February - "An empirical photometric selection model for Pristine" <br>
    </td>
  </tr>
  <tr> <td></td><td></td> </tr>
  <tr>
    <td class="tg-bold-right">2019</td>
    <td class="tg-desc">
	 Machine Learning Tools for Astronomy, Ringberg, december - "Gaia processing with Machine Learning"<br>
	 EWASS, Lyon, june - "Finding metal-poor needles in Gaia Data Release 3"<br>
	 EWASS, Lyon, june - "Astrophysical Parameters in Gaia Data Release 3"<br>
	 ESLAB 2019, Noordwijk, april - "Catalog of revised parameters from Gaia<br>
	 DR2"
    </td>
  </tr>
  <tr> <td></td><td></td> </tr>
  <tr>
    <td class="tg-bold-right">2018</td>
    <td class="tg-desc">
	 PHAT team meeting 2018, Ringberg, july -  "Cluster dissolution in M31 from PHAT"<br>
    </td>
  </tr>
  <tr> <td></td><td></td> </tr>
  <tr>
    <td class="tg-bold-right">2017</td>
    <td class="tg-desc">
	 SF2A, Paris, July - "Challenges of Ingerring stellar parameters in large surveys" <br>
	 GaiaSprint, Heidelberg, July - "Accessing Gaia data - a tutorial on ADQL" <br>
	 Zanjan, Iran, May - "International School on Star Clusters with Gaia" (invited teacher) <br>
    </td>
  </tr>
  <tr> <td></td><td></td> </tr>
  <tr>
    <td class="tg-bold-right">2015</td>
    <td class="tg-desc">
	 Strasbourg, France, November - "Gaia Overview, APSIS and Data Release 1" <br>
	 SED fitting workshop, Rockport, MA USA, October - "Gaia APSIS - Astrophysical Parameter Inference System" <br>
    </td>
  </tr>
  <tr> <td></td><td></td> </tr>
  <tr>
    <td class="tg-bold-right">2014</td>
    <td class="tg-desc">
	GESF2014 - Marseille, France, September - "Relation between environment and star cluster formation and evolution" <br>
    </td>
  </tr>
  <tr> <td></td><td></td> </tr>
  <tr>
    <td class="tg-bold-right">2013</td>
    <td class="tg-desc">
	Aspen Center for Physics, June - "Observational constraints on star and cluster formation" <br>
	Strasbourg, France, March - "Uncertainties when inferring the stellar mass function"<br>
	STScI, Baltimore, BA, January - "Clues in Environmental influence in cluster disruption in PHAT"<br>
	AAS, Long Beach, CA, January - "Star Clusters in PHAT, Early Science Review", M31 Special Session
    </td>
  </tr>
  <tr> <td></td><td></td> </tr>
  <tr>
    <td class="tg-bold-right">2012</td>
    <td class="tg-desc">
	    Sesto, Italy, July - "Star Clusters Populations in M31"<br>
	    MPIA, Heidelberg, Germany, July - "Clusters Disruption from early science in PHAT"<br>
	    AAS, Austin, TX, January - "Characterizing Cluster Populations in a Stochastic Regime"<br>
    </td>
  </tr>
  <tr> <td></td><td></td> </tr>
  <tr>
    <td class="tg-bold-right">2011</td>
    <td class="tg-desc">
	Strasbourg, France, December - "PHAT an HST large survey of M31"<br>
	Strasbourg, France, March - "Python for Astronomers" tutorial<br>
    </td>
  </tr>
  <tr> <td></td><td></td> </tr>
  <tr>
    <td class="tg-bold-right">2010</td>
    <td class="tg-desc">
	STScI, Baltimore, BA, May - "Estimating Cluster Properties in a Stochastic Context"
    </td>
  </tr>
  <tr> <td></td><td></td> </tr>
  <tr>
    <td class="tg-bold-right">2009</td>
    <td class="tg-desc">
	    Stockholm, November - "Unresolved Star Clusters Properties"<br>
	Next Generation Virgo Cluster Survey (NGVS), Paris, France, October - "Star cluster ages and masses analysis"<br>
	Johnson City, TN, July - "Bayesian Approach for Star cluster property determinations"<br>
	AAS, Passadena, CA, May - "Infrared-variable Objects in the IRAC-CF"<br>
	KITP, Santa Barbara, CA, January - "Stochastic fluctuations in cluster property analysis"<br>
    </td>
  </tr>
  <tr> <td></td><td></td> </tr>
  <tr>
    <td class="tg-bold-right">2008</td>
    <td class="tg-desc">
	Sheffield, United Kingdom, July "Stochastic Population Synthesis"<br>
	Illkirch, France, April Stellar evolution in Layman’s term<br>
	Geneva, Switzerland, February Spectra of populations dominated by supergiants<br>
    </td>
  </tr>
</table>

