<a href="" class="topic">Teaching & Outreach</a> <hr width="60%" />
<table class="tg">
<tr>
	<td class="tg-bold-right"></td>
	<td class="tg-bold"> "A primer on astrostatistics"</td>
</tr>
<tr>
	<td></td>
	<td class="tg-desc">
	Blackboard lecture to PhD students from all branches of the Heidelberg Graduate School of Fundamental Physics
	introducting the basics of statistical analysis.
	<a
		href="http://gsfp.physi.uni-heidelberg.de/winterschool_2018/">HGSFP Winter School website</a>
	</td>
</tr>
<tr>
	<td class="tg-bold-right"></td>
	<td class="tg-bold"> "Introduction to Bayesian statistics"</td>
</tr>
<tr>
	<td></td>
	<td class="tg-desc">
	Lectures to Master student level, introducting the basics of statistical analysis in the most pragmatic way (if possible).
	<a href="http://www.mpia.de/homes/calj/compstat_ss2015/main.html">online materials</a>
	</td>
</tr>
<tr>
	<td class="tg-bold-right"></td>
	<td class="tg-bold"> "Introduction to MCMC and
		Nested sampling"</td>
</tr>
<tr>
	<td></td>
	<td class="tg-desc">
	Improvised Blackboard lecture during the Gaia
	Challenge in 2014, covering the basis of
	Bayesian statistics and sampling for model
	fitting
	</td>
</tr>
<tr>
	<td class="tg-bold-right"></td>
	<td class="tg-bold"> "Introduction to python and object oriented programming"</td>
</tr>
<tr>
	<td></td>
	<td class="tg-desc">
	Part of a workshop introducing python to astronomers and in particular basics of object oriented programming for science applications
	<a href="https://github.com/jakevdp/2013_fall_ASTR599">online materials</a>
	</td>
</tr>
<tr>
	<td class="tg-bold-right"></td>
	<td class="tg-bold"> "Python for Astronomers and Curious"</td>
</tr>
<tr>
	<td></td>
	<td class="tg-desc">
		Workshop introducing python to engineers, scientists from the observatory and university 
	<a href="http://astro.u-strasbg.fr/~morgan/python/">online materials</a></td>

</tr>
<tr>
	<td class="tg-bold-right"></td>
	<td class="tg-bold"> "Introduction to data reduction"
	</td>
</tr>
<tr>
	<td></td>
	<td class="tg-desc">
		lectures to master of astrophysics students
	<a href="docs/reduction_poster.pdf">Cheat Sheet</a> -
	<a href="docs/Reduction_Introduction_slides_master.pdf"> Slides (french)</a>
	</td>
</tr>
<tr>
	<td class="tg-bold-right"></td>
	<td class="tg-bold"> "Spectra of Stars to Stellar evolution in Layman's term" </td>
</tr>
<tr>
	<td></td>
	<td class="tg-desc">
		Public talk reviewing our knowledge of stellar physics based on observations</td>
</tr>
</table>
