<li style="color:#77BFF2; border-bottom: 1px solid #77BFF2"><b>2020</b></li>
<li> <b>A catalog of 159,238 white dwarf ages</b><br>
von Hippel, T., Moss, A., Kloc, I., Moticska, N., Sargent, J., Robinson, E., Stenning, D., van Dyk, D., Jeffery, E., <b>Fouesneau, M.</b>, Bailer-Jones, C., 2020, IAU Symposium, 188 [0 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2020IAUS..357..188V">2020IAUS..357..188V</a> </li>

<li style="color:#77BFF2; border-bottom: 1px solid #77BFF2"><b>2019</b></li>
<li> <b>ChempyMulti: Multi-star Bayesian inference with Chempy</b><br>
Rybizki, J., Philcox, O., Rix, H.-W., Just, A., <b>Fouesneau, M.</b>, Sandford, N., 2019, Astrophysics Source Code Library, ascl:1909.006 [0 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2019ascl.soft09006R">2019ascl.soft09006R</a> </li>

<li> <b>BEAST: Bayesian Extinction And Stellar Tool</b><br>
Gordon, K. D., <b>Fouesneau, M.</b>, Arab, H., Tchernyshyov, K., Weisz, D. R., Dalcanton, J. J., Williams, B. F., Bell, E. F., Bianchi, L., Boyer, M., Choi, Y., Dolphin, A., Girardi, L., Hogg, D. W., Kalirai, J. S., Kapala, M., Lewis, A. R., Rix, H.-W., Sandstrom, K., Skillman, E. D., 2019, Astrophysics Source Code Library, ascl:1908.013 [0 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2019ascl.soft08013G">2019ascl.soft08013G</a> </li>

<li> <b>The kinematic signature of the Galactic warp with Gaia DR2</b><br>
Poggio, E., Drimmel, R., Lattanzi, M. G., Smart, R. L., Spagna, A., Andrae, R., Bailer-Jones, C. A. L., <b>Fouesneau, M.</b>, Antoja, T., Babusiaux, C., Evans, D. W., Figueras, F., Katz, D., Reyl{\'e}, C., Robin, A. C., Romero-G{\'o}mez, M., Seabroke, G., 2019, The Gaia Universe, 50 [1 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2019gaia.confE..50P">2019gaia.confE..50P</a> </li>

<li> <b>Catalog of revised astrophysical parameters from Gaia DR2</b><br>
<b>Fouesneau, M.</b>, 2019, The Gaia Universe, 27 [0 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2019gaia.confE..27F">2019gaia.confE..27F</a> </li>

<li style="color:#77BFF2; border-bottom: 1px solid #77BFF2"><b>2018</b></li>
<li> <b>Can we detect Galactic spiral arms? 3D dust distribution in the Milky Way</b><br>
Rezaei Kh., S., Bailer-Jones, C. A. L., <b>Fouesneau, M.</b>, Hanson, R., 2018, Astrometry and Astrophysics in the Gaia Sky, 189 [0 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2018IAUS..330..189R">2018IAUS..330..189R</a> </li>

<li style="color:#77BFF2; border-bottom: 1px solid #77BFF2"><b>2017</b></li>
<li> <b>Chempy: A flexible chemical evolution model for abundance fitting</b><br>
Rybizki, J., Just, A., Rix, H.-W., <b>Fouesneau, M.</b>, 2017, Astrophysics Source Code Library, ascl:1702.011 [1 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2017ascl.soft02011R">2017ascl.soft02011R</a> </li>

<li style="color:#77BFF2; border-bottom: 1px solid #77BFF2"><b>2016</b></li>
<li> <b>The age structure of the thick disk from APOGEE data</b><br>
Martig, M., Minchev, I., <b>Fouesneau, M.</b>, Ness, M., Rix, H.-W., 2016, Galactic Surveys: New Results on Formation, Evolution, Structure and Chemical Evolution of the Milky Way, 5 [0 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2016gsnr.confE...5M">2016gsnr.confE...5M</a> </li>

<li> <b>Annayqho/Thecannon</b><br>
Ho, A. Y. Q., Ness, M. K., Hogg, D. W., Rix, H.-W., Liu, C., <b>Fouesneau, M.</b>, 2016, Zenodo, - [2 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2016zndo....221367H">2016zndo....221367H</a> </li>

<li style="color:#77BFF2; border-bottom: 1px solid #77BFF2"><b>2015</b></li>
<li> <b>PRESPEC-AGATA setup: Optimizing the target positions with Bayesian data analysis</b><br>
Ralet, D., <b>Fouesneau, M.</b>, Gerl, J., Pietralla, N., Pietri, S., 2015, GSI Helmholtzzentrum f"ur Schwerionenforschung, 157 [0 citations] <br>
\href{https://repository.gsi.de/record/183914}{issn:0171-4546} </li>

<li style="color:#77BFF2; border-bottom: 1px solid #77BFF2"><b>2014</b></li>
<li> <b>Constraining Cluster Disruption in M83</b><br>
Silva-Villa, E., Adamo, A., Bastian, N., <b>Fouesneau, M.</b>, 2014, Massive Young Star Clusters Near and Far: From the Milky Way to Reionization, 109 [1 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2014mysc.conf..109S">2014mysc.conf..109S</a> </li>

<li> <b>The Gaia hybrid catalog: a leverage to find Galactic structures</b><br>
<b>Fouesneau, M.</b>, Bailer-Jones, C. A. L., 2014, EAS Publications Series, 371 [0 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2014EAS....67..371F">2014EAS....67..371F</a> </li>

<li> <b>AstroML: Machine learning and data mining in astronomy</b><br>
VanderPlas, J., <b>Fouesneau, M.</b>, Taylor, J., 2014, Astrophysics Source Code Library, ascl:1407.018 [12 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2014ascl.soft07018V">2014ascl.soft07018V</a> </li>

<li style="color:#77BFF2; border-bottom: 1px solid #77BFF2"><b>2011</b></li>
<li> <b>N</b><br>
Gladman, B., Kavelaars, J., Allen, L., van Laerhoven, C., Petit, J.-M., Murray, I., Jones, L., Parker, J. W., Smith, P., Margot, J.-L., Smith, I., Coffey, J., Nicholson, P., Jacobson, R., Brozovic, M., Lawler, S., Bieryla, A., Jones, R. L., Ashby, M., <b>Fouesneau, M.</b>, McLeod, B., Rousselot, P., Mousis, O., Campo-Bagatin, A., Benavidez, P., Williams, G. V., 2011, Minor Planet Electronic Circulars, - [0 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2011MPEC....H...58G">2011MPEC....H...58G</a> </li>

<li> <b>Minor Planet Observations [696 Whipple Observatory, Mt. Hopkins]</b><br>
Gladman, B., Ashby, M., <b>Fouesneau, M.</b>, McLeod, B., 2011, Minor Planet Circulars, 2 [0 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2011MPC..74837...2G">2011MPC..74837...2G</a> </li>

<li style="color:#77BFF2; border-bottom: 1px solid #77BFF2"><b>2010</b></li>
<li> <b>Constraining the Evolution of Red Supergiants with the Integrated Light of Star Clusters</b><br>
Lan{\c{c}}on, A., <b>Fouesneau, M.</b>, 2010, Hot and Cool: Bridging Gaps in Massive Star Evolution, 55 [9 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2010ASPC..425...55L">2010ASPC..425...55L</a> </li>

<li> <b>A Bayesian Approach Accounting for Stochastic Fluctuations in Stellar Cluster Properties</b><br>
<b>Fouesneau, M.</b>, Lancon, A., 2010, Galaxy Wars: Stellar Populations and Star Formation in Interacting Galaxies, 171 [3 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2010ASPC..423..171F">2010ASPC..423..171F</a> </li>

<li style="color:#77BFF2; border-bottom: 1px solid #77BFF2"><b>2007</b></li>
<li> <b>Automation of Meudon Synoptic Maps</b><br>
Aboudarham, J., Scholl, I., Fuller, N., <b>Fouesneau, M.</b>, Galametz, M., Gonon, F., Maire, A., Leroy, Y., 2007, The Physics of Chromospheric Plasmas, 505 [2 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2007ASPC..368..505A">2007ASPC..368..505A</a> </li>
