<li style="color:#77BFF2; border-bottom: 1px solid #77BFF2"><b>2020</b></li>
<li> <b>Gaia Early Data Release 3: The Gaia Catalogue of Nearby Stars</b><br>
Gaia Collaboration, Smart, R. L., et al., 2020, arXiv e-prints, - [0 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2020arXiv201202061G">2020arXiv201202061G</a> </li>

<li> <b>Gaia Early Data Release 3: Acceleration of the solar system from Gaia astrometry</b><br>
Gaia Collaboration, Klioner, S. A., et al., 2020, arXiv e-prints, - [0 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2020arXiv201202036G">2020arXiv201202036G</a> </li>

<li> <b>Gaia Early Data Release 3: Structure and properties of the Magellanic Clouds</b><br>
Gaia Collaboration, Luri, X., et al., 2020, arXiv e-prints, - [0 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2020arXiv201201771G">2020arXiv201201771G</a> </li>

<li> <b>Gaia Data Release 2. The kinematics of globular clusters and dwarf galaxies around the Milky Way (Corrigendum)</b><br>
Gaia Collaboration, Helmi, A., et al., 2020, Astronomy and Astrophysics, C1 [0 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2020A&A...642C...1G">2020A{\&}A...642C...1G</a> </li>

<li> <b>Gaia Data Release 2. Kinematics of globular clusters and dwarf galaxies around the Milky Way (Corrigendum)</b><br>
Gaia Collaboration, Helmi, A., et al., 2020, Astronomy and Astrophysics, C3 [0 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2020A&A...637C...3G">2020A{\&}A...637C...3G</a> </li>

<li style="color:#77BFF2; border-bottom: 1px solid #77BFF2"><b>2019</b></li>
<li> <b>4MOST Scientific Operations</b><br>
4MOST collaboration, Walcher, C. J., et al., 2019, The Messenger, 12 [8 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2019Msngr.175...12W">2019Msngr.175...12W</a> </li>

<li> <b>4MOST: Project overview and information for the First Call for Proposals</b><br>
4MOST collaboration, de Jong, R. S., et al., 2019, The Messenger, 3 [77 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2019Msngr.175....3D">2019Msngr.175....3D</a> </li>

<li> <b>4MOST Consortium Survey 3: Milky Way Disc and Bulge Low-Resolution Survey (4MIDABLE-LR)</b><br>
4MOST collaboration, Chiappini, C., et al., 2019, The Messenger, 30 [11 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2019Msngr.175...30C">2019Msngr.175...30C</a> </li>

<li> <b>VizieR Online Data Catalog: Gaia DR2. Variable stars in CMD (Gaia Collaboration+, 2019)</b><br>
Gaia Collaboration, Eyer, L., et al., 2019, VizieR Online Data Catalog, J/A+A/623/A110 [0 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2019yCat..36230110G">2019yCat..36230110G</a> </li>

<li> <b>Gaia Data Release 2. Variable stars in the colour-absolute magnitude diagram</b><br>
Gaia Collaboration, Eyer, L., et al., 2019, Astronomy and Astrophysics, A110 [62 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2019A&A...623A.110G">2019A{\&}A...623A.110G</a> </li>

<li style="color:#77BFF2; border-bottom: 1px solid #77BFF2"><b>2018</b></li>
<li> <b>Gaia Data Release 2. The celestial reference frame (Gaia-CRF2)</b><br>
Gaia Collaboration, Mignard, F., et al., 2018, Astronomy and Astrophysics, A14 [91 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2018A&A...616A..14G">2018A{\&}A...616A..14G</a> </li>

<li> <b>VizieR Online Data Catalog: 46 open clusters GaiaDR2 HR diagrams (Gaia Collaboration, 2018)</b><br>
Gaia Collaboration, Babusiaux, C., et al., 2018, VizieR Online Data Catalog, J/A+A/616/A10 [0 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2018yCat..36160010G">2018yCat..36160010G</a> </li>

<li> <b>VizieR Online Data Catalog: Gaia DR2 sources in GC and dSph (Gaia Collaboration+, 2018)</b><br>
Gaia Collaboration, Helmi, A., et al., 2018, VizieR Online Data Catalog, J/A+A/616/A12 [0 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2018yCat..36160012G">2018yCat..36160012G</a> </li>

<li> <b>Gaia Data Release 2. Observations of solar system objects</b><br>
Gaia Collaboration, Spoto, F., et al., 2018, Astronomy and Astrophysics, A13 [38 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2018A&A...616A..13G">2018A{\&}A...616A..13G</a> </li>

<li> <b>Gaia Data Release 2. Observational Hertzsprung-Russell diagrams</b><br>
Gaia Collaboration, Babusiaux, C., et al., 2018, Astronomy and Astrophysics, A10 [363 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2018A&A...616A..10G">2018A{\&}A...616A..10G</a> </li>

<li> <b>Gaia Data Release 2. Kinematics of globular clusters and dwarf galaxies around the Milky Way</b><br>
Gaia Collaboration, Helmi, A., et al., 2018, Astronomy and Astrophysics, A12 [330 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2018A&A...616A..12G">2018A{\&}A...616A..12G</a> </li>

<li> <b>Gaia Data Release 2. Mapping the Milky Way disc kinematics</b><br>
Gaia Collaboration, Katz, D., et al., 2018, Astronomy and Astrophysics, A11 [192 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2018A&A...616A..11G">2018A{\&}A...616A..11G</a> </li>

<li> <b>Gaia Data Release 2. Summary of the contents and survey properties</b><br>
Gaia Collaboration, Brown, A. G. A., et al., 2018, Astronomy and Astrophysics, A1 [3,947 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2018A&A...616A...1G">2018A{\&}A...616A...1G</a> </li>

<li style="color:#77BFF2; border-bottom: 1px solid #77BFF2"><b>2017</b></li>
<li> <b>Gaia Data Release 1. Testing parallaxes with local Cepheids and RR Lyrae stars</b><br>
Gaia Collaboration, Clementini, G., et al., 2017, Astronomy and Astrophysics, A79 [65 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2017A&A...605A..79G">2017A{\&}A...605A..79G</a> </li>

<li> <b>VizieR Online Data Catalog: Gaia DR1 open cluster members (Gaia Collaboration+, 2017)</b><br>
Gaia Collaboration, van Leeuwen F., et al., 2017, VizieR Online Data Catalog, J/A+A/601/A19 [0 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2017yCat..36010019G">2017yCat..36010019G</a> </li>

<li> <b>Gaia Data Release 1. Open cluster astrometry: performance, limitations, and future prospects</b><br>
Gaia Collaboration, van Leeuwen, F., et al., 2017, Astronomy and Astrophysics, A19 [71 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2017A&A...601A..19G">2017A{\&}A...601A..19G</a> </li>

<li style="color:#77BFF2; border-bottom: 1px solid #77BFF2"><b>2016</b></li>
<li> <b>The Gaia mission</b><br>
Gaia Collaboration, Prusti, T., et al., 2016, Astronomy and Astrophysics, A1 [2,379 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2016A&A...595A...1G">2016A{\&}A...595A...1G</a> </li>

<li> <b>Gaia Data Release 1. Summary of the astrometric, photometric, and survey properties</b><br>
Gaia Collaboration, Brown, A. G. A., et al., 2016, Astronomy and Astrophysics, A2 [1,389 citations] <br>
<a href="https://ui.adsabs.harvard.edu/abs/2016A&A...595A...2G">2016A{\&}A...595A...2G</a> </li>
