<p>
I'm a Postdoctoral fellow at Max-Planck Institute for Astronomy (MPIA,
Heidelberg). 
</p><p>
I am an astronomer and an engineer with 10+years of experience in terabyte
data manipulation technologies, cloud computing, pipeline design, machine
learning, as well as more than 5 years as a project manager in astronomy. In
2014, I joined the European Space Agency mission Gaia, where I lead a team of
40 scientists assessing the quality of the scientific products before their
release to the community. I have also led the classification group in the 4MOST
ground-based telescope project from the European Southern Observatory since
2016. I regularly contribute to many data modeling and probabilistic inference
in computer science projects, organic components studies, particle detector
calibration, and space weather applications. 
</p><p>
My personal research focuses primarily on where stars form in
galaxies linking them to the cosmological context through their chemical
patterns and dynamical properties.
</p>
