<div class="col-lg-8 col-lg-offset-2">
<a href="" class="topic"> Dissolution of Star Clusters, Formation Histories and  Mass Functions</a> 
<hr width="60%" />
<p>
(Coming soon)
</p>
<div class="col-sm-6">
<p class='description'>
We currently work on infering the disruption processes and initial mass function
with respect to environment and star formation intensity in M31 from the PHAT
survey.
</p>

</div>
<div class="col-sm-6 light">
<p class='description'>
	<a href="img/phat_age_mass_int.png">
	<img class="right" width="100%" src="img/phat_age_mass_int.png" alt="">
	</a>

<br>
<!--
 <a
 href="http://adsabs.harvard.edu/abs/2010A%26A...521A..22F">Fouesneau,
 M., Lan&ccedil;on, A., 2010</a> 
-->
</p>
</div>
</div>
