<div class="col-lg-8 col-lg-offset-2">
<a href="" class="topic">Star Cluster Populations: Age and Mass Functions</a> 
<hr width="60%" />
	<div class="col-sm-6">
	<p class='description'>
	Using the probabilistic technique from <a
		href="http://adsabs.harvard.edu/abs/2010A%26A...521A..22F">Fouesneau, M., Lan&ccedil;on, A., 2010</a>,  we derived ages, masses and extinction
	values of star clusters in the PHAT survey (<a href="http://adsabs.harvard.edu/abs/2015arXiv150104966J">Johnson et al., 2015</a>). 
	</p>
	<p class='description'>
	We find that the cluster age distribution is consistent with
	being uniform over the past 100 Myr, which suggests a
	weak effect of cluster disruption within M31.  
	</p>
		<a href="img/comp_cmd_int_fit.png">
		<img class="right" width="100%" src="img/comp_cmd_int_fit.png" alt="">
		</a>
<a href="http://adsabs.harvard.edu/abs/2014ApJ...786..117F">Fouesneau et al., 2014</a>

	</div>
	<div class="col-sm-6 light">
	<p class='description'>
	<p class='description'>
	We find that the mass distribution of the whole sample
	can be well-described by a single power-law with a
	spectral index of −1.9 ± 0.1 However, we find that the
	present day mass spectral index varies significantly
	with environment with the shallower slope in the highest
	star formation intensity regions.
	</p>
		<a href="img/PDCMFindex.png">
		<img class="right" width="100%"
		src="img/PDCMFindex.png" alt="">
		</a>
<a href="http://adsabs.harvard.edu/abs/2014ApJ...786..117F">Fouesneau et al., 2014</a>

	<p class='description'>
	We currently work on infering the disruption processes
	and initial mass function with respect to environment
	and star formation intensity in M31
	</p>
	</div>
</div>

