    <div class="col-lg-8 col-lg-offset-2">
	<a href="" class="topic"> Gaia astrophysical parameters</a> 
	<hr width="60%" />
	<p>
	3D dust mapping with Gaia 
	</p>
	<div class="col-sm-6">
	<p class='description'>
	The second data release of ESA’s Gaia satellite, published April 2018,
	not only includes data that allows us to compute accurate distances for
	1.33 billion stars.  we have also used Gaia’s measurements to derive the
	physical properties of almost 80 million stars, making this the largest
	stellar census yet. At the same time, the analysis provides the most
	detailed three-dimensional map of dust in our home galaxy yet, which
	promises to put the analysis of celestial objects on a more solid
	footing than before.  However, this dataset remains a teaser to the
	future Gaia data relases.
	</p>
	</div>
	<div class="col-sm-6 light">
		<a href="img/apsis_sky_ag_hires_annotated.jpg">
		<img class="right" width="100%" src="img/apsis_sky_ag_lowres_annotated.jpg" alt="">
		</a>
		image from  
	 <a href="http://www.mpia.de/news/science/2018-05-gaia-dr2"> Press Release</a>
	 <br>
		without annotations <a
			href="img/apsis_sky_ag_hires.jpg">here</a>
	<br>
	<br>
	 GDR2 paper: <a href="http://adsabs.harvard.edu/abs/2018A%26A...616A...8A">Andrae, Fouesneau, et al. 2018</a>
	</div>
    </div>
